# Entornos virtuales
venv/
*.venv
.env

# Archivos de configuración de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDE (si usas algún editor de código como VSCode, PyCharm, etc.)
.vscode/
.idea/

# Archivos de configuración de sistemas operativos
.DS_Store  # macOS
Thumbs.db  # Windows

# Archivos generados por herramientas de empaquetado
*.egg-info/
*.egg
dist/
build/

# Archivos temporales
*.log
*.bak